@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	box-sizing: border-box;
}

::-webkit-scrollbar {
	width: 0.75em;
}

::-webkit-scrollbar-track {
	background-color: #fcfcfc;
}

::-webkit-scrollbar-thumb {
	border-radius: 8px;
	border: 2px solid #fcfcfc;
	background-color: #cf0c39;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #858585;
}

input,
textarea,
button {
	outline: none;
}

nav {
	position: sticky;
	top: 0;
}

.catalog__grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: 35px 150px 0 150px;
}
