@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	font-family: 'Helvetica', sans-serif;
	box-sizing: border-box;
}

::-webkit-scrollbar {
	width: 0.75em;
}

::-webkit-scrollbar-track {
	background-color: #fcfcfc;
}

::-webkit-scrollbar-thumb {
	border-radius: 8px;
	border: 2px solid #fcfcfc;
	background-color: #cf0c39;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #858585;
}

input,
textarea,
button {
	outline: none;
}
